
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5rem;
}

input {
  width: 40%;
  max-width: fit-content;
  padding: 1rem;
  margin: 2rem;
  color: white;
  font-size: 1.5rem;
  height: 3.5rem;
  border-radius:10px;
  border: 1px solid rgb(255, 255, 255);
}

.input-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
}

.ohMyCard{
  border-radius: 15px;
  margin: 1rem;
  padding: .5rem 1rem 1.5rem;
  width: 12rem;
  background-image: linear-gradient(45deg, rgb(38, 0, 163) , rgb(11, 0, 27));
  font-size: 1.25rem;
}
.male {
  border: 5px solid rgb(0, 255, 153);
  color: rgb(0, 255, 153);
}
.female {
color: rgb(255, 0, 247);
border: 5px solid rgb(255, 0, 247);
}

img {
  width: 8rem;
  border-radius: 15px;
}